@model DoAnCoSo.Namespace.HomePageViewModel
@{
    ViewBag.Title = "Trang chủ";
}

<main>
    <style>
        div#sps {
            padding: 0px 15px;
            text-align: center;
        }

        #sps img {
            width: 100%;
        }
       

        h4 {
            margin: 20px 0;
            margin-top:40px;
        }

        h6 {
            margin: 8px 0 0 0;
        }

        a {
            color: black;
            text-decoration: none;
        }

        .sp div:hover img {
            transform: scale(1.1,1.1);
            transition: all 1s ease;
        }
        #banner2 {
            margin-top:40px;
        }
        #banner2 img{
            width:100%;
            height:100%;
            padding:0px;
        }
        
    </style>
    <div name="banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/Content/Images/banner1.jpg")" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/Content/Images/banner2.jpg")" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div name="sps" id="sps">
        <h4>Sản Phẩm Bán Chạy</h4>
        <div name="banchay" class="row" id="banchay">
            @Html.Partial("_ProductList", Model.sanphambanchay.Take(5))
        </div>

        <div class="row" id="banner2">
            <div class="col-6 sp">
                <a href="#">
                    <img src="~/Content/Images/bn1.jpg" />
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="~/Content/Images/gt-sp-1.jpg" />
                </a>
            </div>
            <div class="col-3 sp" style="padding-bottom:0px;">
                <a href="#">
                    <img src="~/Content/Images/gt-sp2.jpg" />
                </a>
            </div>

        </div>
        <h4>Sản phẩm được yêu thích</h4>
        <div name="yeuthich" class="row" id="yeuthich">
            @Html.Partial("_ProductList", Model.sanphamyeuthich.Take(5))
        </div>
        <div class="row" id="banner2">
            <div class="col-4">
                <a href="#">
                    <img src="~/Content/Images/gt-sp-3.jpg" />
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <img src="~/Content/Images/gt-sp-4.jpg" />
                </a>
            </div>
            <div class="col-4 " style="padding-bottom:0px;">
                <a href="#">
                    <img src="~/Content/Images/gt-sp-5.jpg" />
                </a>
            </div>
        </div>
        <div class="box"></div>
    </div>
</main>